@import "tailwindcss";

:root {
    --background: oklch(0.97 0.01 90);
    --foreground: oklch(0.2 0.02 90);
    --border: oklch(0.85 0.02 90);
    --muted: oklch(0.92 0.02 90);
    --muted-foreground: oklch(0.4 0.02 90);
    --color-black: oklch(0.0 0.0 0);
}

@theme inline {
    --color-black: var(--color-black);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-border: var(--border);
    --font-serif: var(--font-lora);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
}

@layer base{
    body {
        @apply bg-background text-foreground font-sans;
    }
}
